:root{
  --backgd: #FEF7E5;
  --logo: #231F20;
  --aboutusText: #FEF7E5;
  --aboutBox: #D03C3C;
  --Box: #BD0008;
  --signUpText: #fff;
  --nav: #F22727;
  --card1: #FF757E;
  --card2: #3D9AED;
  --card3: #77C79E;
  --card4: #FAC360;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

/* Banner */
.banner{
  display: flex;
  height: 100%;
  padding: 0;

}

#banner-image{
margin: 0 auto;
display: flex;
justify-content: space-around;
width: 85%; 
}

/* Search */
/* style for the search bar */
.section3-search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
  padding: 50px 10px;
}

/* styling for search input field */
.section3-search input{
  outline: none;
  background: #fff;
  width: 817px;
  height: 57px;
  line-height: 57px;
  font-size: 20px;
  border-radius: 10px;
  border-color: #231F20;
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.section3-search .search-bt{
  text-align: center;
  color: #fff;
  font-size: 20px;
  background: #BD0008;
  border-radius: 10px;
  height: 57px;
  width: 100px;
  font-weight: bold;
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

nav .bar{
  position: relative;
  margin: auto;
  display: 0;
}
nav .bar span{
  position: absolute;
  color: #fff;
  font-size: 25px;
}
input[type="checkbox"]{
  -webkit-appearance: none;
  display: none;
}



/* Cards/Search Results */
#search-results{
  /* side scroll feature */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
    .search-results-items {
      flex: 0 0 auto;
    }
  
  margin: auto;
  padding: 30px 20px;
  padding-bottom: 70px;
  gap: 20px;
}

/* Search resulst styling */
.search-results-items {
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* set width */
  width: 400px;
  height: 250px; 
  /* display: flex; */
  margin: 8px; 
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
  /* border: 1px solid white; */
  border-radius: 10px;
  /* border: 3px #231F20 solid; */
  /* if text-string is longer than set width...hide it */
  /* text-overflow: ellipsis; */
  background: #D03C3C;

}
* {
  box-sizing: border-box;
}

.headline{
  /* border: 1px solid red; */
  padding: 8px;
  /* padding: 40px 20px 30px; */

  float: left;
  /* flex-direction: column; */

  /* width: 25%; */

  /* if text-string is longer than set width...hide it */
  /* text-overflow: ellipsis; */
  font-weight:bold;
  color: white;
 
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: #FEF7E5;
  font-size: 16px;
  
  /* text-align: left; */
  /* width: 100%; */
  /* width: 280px; */
  /* text-overflow: clip; */
}
.figcaption{
  width: 220px;
  height: 60%;
  float: left;
  padding: 8px;
  font-size: 14px;
 /* border: 1px solid red; */
  font-weight: normal;
  color: white;
  /* padding: 0 20px 20px; */
  /* max-height: 120px; */
  /* background: #FEF7E5; */
  /* object-fit: contain; */
  overflow:auto;
  
  /* Render text as an ellipsis (...): */
  /* white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;  */
}

.search-results-item-urlToImage {
    /* make image corners round */
    height: 175px;
    /* align-items: flex-end; */ 
    /* border: 3px #231F20 solid; */
    /* border-width: 10px; */
    /* justify-content: flex-end; */
    /* padding:10px; */
    /* border-color: black; */
}
img {
  width: 175px;
  float: left;
  border: 2px solid white;
  border-radius: 10px;
  margin: 0px;

  /* style image as a thumnail */
  /* border: 1px solid #ddd; */

  /* padding: 5px; */
  /* width: 150px; */



  /* create border around image */
  /* border: 1px solid white; */

  /* create space between image and border */
  /* padding: 10px; */
  
 
  /* set width of poster img (ie. aspect ratio for poster from this API is 2-to-3  */
  /* width: 400px; */
  /* width: 20px; */
  /* height: 90%;  */
  
}










/* About us */
.section5-aboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #D03C3C;
  margin: auto;
  padding: 30px 60px;
  width: 85%;
}

h2{
  font-size: 48px;
  color: #FEF7E5;

}

p{
  font-size: 20px;
  color: #FEF7E5;
  /* width: 60%; */
}

/* Footer */
footer, .pp {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BD0008;
  font-size: 22px;
  text-align: center;
  }






/* @media only screen
and {
  
} */

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) 
{
Banner 
  #banner-image{
    margin: 0 auto;
    height: 106px;
    width: 375px;
    display: flex; 
  }
  .section3-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
    padding: 30px 25px;
  }
  .section3-search input{
    outline: none;
    background: white;
    width: 300px;
    height: 40px;
    line-height: 17px;
    font-size: 14px;
    border-radius: 10px;
  }
  .section3-search .search-bt{
    font-size: 14px;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    font-weight: bold;
  }





   /* About us */
  .section5-aboutUs{
    padding: 10px 10px;
    /* width: 100%; */
  }
  h2{
    font-size: 24px;
  }
  p{
    font-size: 14px;
    width: 70%;
  }
  .pp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 50px;
    color: #fff;
    background: #D03C3C;
    width: 85%;
  }
}