:root{
  --backgd: #FEF7E5;
	--bigFont: #3B230A;
  --smallFont: #231F20;
  --aboutusText: #C2D2BD;
  --aboutBox: #D03C3C;
  --Box: #BD0008;
  --signUpText: #fff;
  --nav: #F22727;
}

@font-face {
  font-family: '28_days_laterregular';
  src: url('28_days_later-webfont.woff2') format('woff2'),
       url('28_days_later-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alef', sans-serif;
}

body{
  background-color: #FEF7E5;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.banner{
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: #F22727;
}

#banner-image{
margin: 0 auto;
width: 100%; 
display: flex; 
}

.section2-nav-bar{
  display: flex;
  width: 100%;
  background: var(--nav);
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo{
  font-size: 45px;
  font-family: '28_days_laterregular';
  cursor: pointer;
}

ol{
  display: flex;
  list-style: none;
  margin: auto 0;
}

ol li{
  margin: 0 px;
  font-weight: bold;
}

ol li a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;
}

ol li:hover a{
  background: #fff;
  color: #BD0008;
}

section .section3-search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto ;
  padding: 50px 10px;
}

section .section3-search input{
  border-radius: 3px;
  outline: none;
  background: #FEF7E5;
  width: 817px;
  height: 57px;
  line-height: 57px;
  font-size: 20px;
  border-radius: 6px;
}

section .section3-search .search-bt{
  text-align: center;
  color: #fff;
  font-size: 20px;
  background: #BD0008;
  border-radius: 6px;
  height: 57px;
  width: 100px;
  font-weight: bold;
}

/* .bar{
  position: relative;
  margin: auto;
  display: 0;
}

.bar span{
  position: absolute;
  color: #fff;
  font-size: 25px;
} */

input[type="checkbox"]{
  -webkit-appearance: none;
  display: none;
}

.section4-flashcards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* max-width: 80%; */
  margin: auto;
  gap: 10px 10px;
  max-height: 50%;
  padding: 20px 8px;

}

.card{
  width: 300px;
  height: 350px;
  background-color: #3d9aed;
  /* margin: 100px auto; */
  min-width: 120px;
  max-width: 25%;
}

/* Footer */
  
footer {
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  justify-content: center;
  background: #D03C3C;
  color: #FFFFFF;
  font-size: 22px;
  }

@media only screen and (max-width: 1250px) {
  nav{
    display: block;
    padding: 0;
  }
  nav .logo{
    display: inline-block;
    padding: 15px 30px;
  }
  nav .search{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  nav .search input{
    width: 90%;
  }
  nav ol{
    display: flex;
    flex-direction: column;
    background: #FEF7E5;
    height: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  nav ol li a{
    color: #BD0008;
    font-size: 28px;
    padding: 25px;
    display: block;
  }
  nav ol li:nth-child(1){
    transform: translate(-150px);
  }
  nav ol li:nth-child(1){
    transform: translate(-150px);
  }
  nav ol li:nth-child(1){
    transform: translate(-150px);
  }
  nav .bar{
    display: block;
    position: absolute;
    top: 20px;
    right: 80px;
    cursor: pointer;
  }
    nav .bar #times{
      display: none;
    }
  #check:checked ~ nav .bar #times{
    display: block;
  }
  #check:checked ~ nav .bar #bars{
    display: none;
  }
  #check:checked ~ nav ol{
    visibility: visible;
    height: 465px;
  }
}


/*
.img-banner{
  display: none;
}

html{
  width: 100%;
  height: 100%;
}




.container{
  display: flex;
  justify-items: right;
  padding: 5px;
  gap: 52px;
}


#logo{
  width: 100%;
}

#searchInput{
  position: absolute;
  width: 817px;
  left: 12.87%;
  right: 37.32%;
  top: 31.76%;
  bottom: 64.7%;
  
  border: 3px solid #231F20;
  box-sizing: border-box;
  border-radius: 6px;
}

#search-button {
  background-color: rgb(189, 0, 8);
  position: absolute;
  left: 64.02%;
  right: 28.6%;
  top: 32.2%;
  bottom: 65.26%;

  border-radius: 6px;
  font-size: 24px;
  width: 121px;
  height: 41px;


left: 65.49%;
right: 29.7%;
top: 53%;
bottom: 65.88%;

font-weight: bold;
font-size: 24px;
line-height: 22px;
color: #FFFFFF;
}

.states-cards{
  
}

#flash-card{
  width: 100%;
  bottom: 63%;

}


.about-us{
  top: 953px;
  width: 100%;
}

.sign-up, h2{
  top: 1372px;
  font-size: 48px;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D03C3C;
  color: #FFFFFF;
  font-size: 18px;
}


  :root{
    --backgd: #FEF7E5;
    --bigFont: #3B230A;
    --smallFont: #231F20;
    --aboutusText: #C2D2BD;
    --Box: #BD0008;
    --signUpText: #fff;
  }
  
  
  *{
    margin: 0;
    padding: 0;
    font-family: 'Alef', sans-serif;
  }
  
  .wrapper{
    width: 100%;
  }
  
  .img-banner{
    display: none;
  }
  
  html{
    width: 100%;
    height: 100%;
  }
  
  
  body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: #FEF7E5;
    text-align: center;
    margin: auto;
  }
  
  .container{
    display: flex;
    justify-items: right;
    padding: 5px;
    gap: 52px;
  }
  
  
  #logo{
    width: 100%;
  }
  
  #searchInput{
    position: absolute;
    width: 817px;
    left: 12.87%;
    right: 37.32%;
    top: 31.76%;
    bottom: 64.7%;
    
    border: 3px solid #231F20;
    box-sizing: border-box;
    border-radius: 6px;
  }
  
#search-button {
  background-color: rgb(189, 0, 8);
  position: absolute;
  left: 64.02%;
  right: 28.6%;
  top: 32.2%;
  bottom: 65.26%;
  
  border-radius: 6px;
  font-size: 24px;
  width: 121px;
  height: 41px;
  
  
  left: 65.49%;
  right: 29.7%;
  top: 53%;
  bottom: 65.88%;
  
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  color: #FFFFFF;
  }
  
  .states-cards{
    
  }
  
  #flash-card{
    width: 100%;
    bottom: 63%;
  
  }
  
  
  .about-us{
    top: 953px;
    width: 100%;
  }
  
  .sign-up, h2{
    top: 1372px;
    font-size: 48px;
  }
  
  
  

